.delete-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.delete-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.close-button {
    background: none;
    border: none;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.confirm-button,
.cancel-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #f55b03;
    color: #fff;
}

.cancel-button {
    background-color: #fff;
    color: #f55b03;
    border: 1px solid #f55b03;
}
