.MainPageWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #F55B03;
  // height: 100vh;
  gap:20px;
  min-height: 100vh;
}

.ListUp{
  width: 100%;
}

.myplusbtn {
  z-index: 200;
  position: fixed;
  top: 730px;
  right: 30px;
}
