.MapHeaderWrapper {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: flex-end;
  justify-content: space-around;
  background: #FFFFFF;
  padding-top: 20px;
  color: #000;
  text-align: center;
  font-family: 'NanumSquareRoundB';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.convenience-store-map-page {
    background-color: #fff;
  }

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
  
  
.filter-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.map-container {
  width: 375px;
  height: 574px;
  margin-bottom: 20px;
}

.store-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 2px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}

.store-image img{
  width: 70px;
}

.gs25 {
  background-color: #BDF4FA;
  color: #01AFF4;
}

.cu {
  background-color: #DEECB1;
  color: #4ED20D;
}

.seven-eleven {
  background-color: #FAD1A1;
  color: #F55B03;
}